.header{
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:rgb(241, 240, 233);
    box-shadow: 0 5px 15px rgba(0,0,0.06);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: sticky;
    top:0;
    left:0;

}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size:16px;
    font-weight: 600;
    color: #000;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active{
     color:rgb(193, 183, 143);
}

.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(193, 183, 143);
    position: absolute;
    bottom: -4px;
    left: 20px;

}

.mobile{
    display: none;
    align-items: center;
}

/*Home Page*/

.hero{
    background-image: url(images/fon.jpeg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.hero h4{
    padding-bottom: 15px;
}

.hero h1{
    color: rgb(193, 183, 143);
}

.hero button{
    background-color: rgb(193, 183, 143);
    padding: 14px 70px 14px 65px;
    margin-bottom: 20px;
}

.hero .btn_hero{
    background-color: rgb(193, 183, 143);
    padding: 14px 70px 10px 50px;
    
}

.coupon-container .close{
    width: 24px;
    position: absolute;
    top:16px;
    right:16px;
    z-index: 2;
    cursor: pointer;

}

.coupon-container {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 350px;
    text-align: center;
    background:rgb(202, 162, 82);
    margin:-100px auto 30px auto;
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
    transition: all 400ms ease;
}

.coupon-container.active{
    opacity: 1;
    transform: translateY(30px);
    transition: all 400ms ease;
}


.coupon-container  h2,
.coupon-container  p,
.coupon-container .discount,
.coupon-container .code,
.coupon-container .btn {
   position: relative;
}

.coupon-container  h2{
    font-size: 26px;
}

.coupon-container .code{
    font-weight: 900;
}

.coupon-container .btn {
    text-decoration: none;
    background-color: rgb(145, 130, 63);
    padding: 16px;
    display: inline-block;
    width: 100%;
    color: #000;
    box-sizing: border-box;
    margin-top: 24px;
    transition: all 300ms ease;

}

.coupon-container .btn:hover{
    background-color:rgb(123, 99, 70);
}



#feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border:1px solid rgb(193, 183, 143);
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

.products_one{
    text-align: center;
}

.products_one .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 22px ;
    border: 1px solid  rgb(193, 183, 143);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin:15px 0;
    transition: 0.2s ease;
   
}

.products_one .pro:hover{
    box-shadow:  20px 20px 30px rgba(0,0,0,0.06);
}

.products_one .pro img{
    width: 100%;
    border-radius: 20px;
}




.products_one .pro .des span{
    color:#606063;
    font-size: 12px;
}

.products_one .pro .des {
  text-align: center;
  padding: 10px 0;
}

.products_one .pro-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/back1.avif");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    

}

#banner button:hover{
    background: rgb(193, 183, 143);
}

.text{
    margin-bottom: 20px;
}

.btn_banner{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:#000;
    background-color: #fff;
    border-radius: 4px;
    cursor:pointer;
    border:none;
    outline:none;
    transition: 0.2s;
}

.btn_banner a{
text-decoration: none;
color:#000;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 30px;
    background-image: url("images/back_02.jpeg");
    width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    

}

#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 30px;
    background-image: url("images/back3.jpeg");
    width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    

}

#sm-banner {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

#sm-banner span{
    padding-bottom: 20px;
}

.btn_box{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:black;
    background-color: #fff;
    border-radius: 4px;
    cursor:pointer;
    border:none;
    outline:none;
    transition: 0.2s;}

#sm-banner .banner-box:hover button{
    background-color:  rgb(193, 183, 143);
    border:1px solid white;

}



#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("images/back4.jpeg");
   
    background-position: 20% 30%;


}

.text_title{
   color:rgb(255, 255, 255);
   font-weight: bold;
}

.form{
    display: flex;
    width: 40%;

}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size:14px;
    width: 100%;
    border:1px solid transparent;
    border-radius: 4px;
    outline:none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newsletter button{
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}


footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

.follow{
    margin-top: 20px;
    cursor: pointer;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .follow .i:hover{
    color:rgb(193, 183, 143);
}

/*Shop page*/

#page-header{
    background-color:rgb(242, 236, 213);
    width: 100%;
    height: 40vh;
}

#page-header h2{
    text-align: center;
    padding-top: 50px;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color:rgb(193, 183, 143) ;
    padding: 15px 20px;
    border-radius: 4px;
    color:black;
    font-weight: 600;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;

}

.small-image-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
   font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-left: 10px;

}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: rgb(193, 183, 143);
    height: 40px;
}

/*About*/

#page-header.about-header{
    background-image: url("images/bg1.jpeg");

}

#page-header.about-header p{
    text-align: center;
    margin-top: 30px;
}


#about-head{
    display: flex;
    align-items: center;
}


#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

/* Contact*/


#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
   width: 40%;
}

#contact-details .details span{
    font-size: 12px;
}


#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 26px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#form-details form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-details form input,
#form-details form textarea{
    width:80%;
    padding: 12px 15px;
    outline:none;
    margin-bottom: 20px;
    border:1px solid rgb(179, 178, 178);
}

#form-details form  button{
    background-color: rgb(193, 183, 143) ;
}

/*Cart*/
#cart {
    overflow-x:auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border:1px solid #e2e9e1;
    border-left:none;
    border-right:none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size:13px;
    padding: 18px 0;

}
#cart table tbody td{
    padding-top: 15px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline:none;
    width: 60%;
    margin-right: 10px;
    border:1px solid #e2e9e1;

}

#coupon button,
#subtotal button {
    background-color:  rgb(193, 183, 143) ;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border:1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border:1px solid #e2e9e1;
    padding: 10px;
    font-size:13px;
}


.wrapper{
    width: 80%;
    max-width: 1280px;
    display: flex;
    padding:0 10px;
    margin:auto auto;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
 }
 
 .wrapper .carousel{
    white-space: nowrap;
    font-size: 0px;
    cursor:pointer;
    overflow: hidden;
    white-space: nowrap;
 }
 
 .carousel img{
    height: 240px;
    object-fit: cover;
    width: calc(100%/3);
    margin-left: 14px;
 }
 
 .carousel img:first-child{
    margin-left: 0px;
 }
 
 .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
 
  .pre-btn img,
 .nxt-btn img { 
   opacity: 0.2;
 }
 
 .pre-btn:hover img,
 .nxt-btn:hover img {
   opacity: 1;
 }
 
 .pre-btn,
 .nxt-btn {
    
 
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 0%;
   width: auto;
   margin-top: -50px;
   padding: 16px;
 }
 
 
 
  #picture{
    width: 100%;
    height: 40vh;
  }


body
{
    font-family: "Open Sans",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-parent
{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-parent .form-wrap
{
    width: 450px;
    background: rgb(255 255 255 / 75%);
    border-radius: 10px;
    padding: 35px 40px;
    backdrop-filter: blur(5px);
}
.form-wrap form h1
{
    font-family: 'Acme', sans-serif;
    font-variant: small-caps;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
}
.form-wrap form h1 span
{
    font-variant: small-caps;
    color: rgb(193, 183, 143);
}
.form-wrap form .single-input input
{
    width: 100%;
    padding: 14px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3521);
    outline: none;
    background: transparent;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.form-wrap form .submit-button
{
    text-align: center;
}
.form-wrap form .submit-button button.button
{
    padding: 13px 30px;
    background-color: rgb(193, 183, 143);
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.form-wrap form .account-have
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}
.form-wrap form .account-have a
{
    color: rgb(34, 34, 34);
    text-decoration: none;
}


/*Menu*/

  .hamburger {
    height: 48px;
    width: 50px;
    background-color: rgb(145, 130, 63);
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    border: 0;
    display: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)    
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger__item {
    display: block;
    width: 30px;
    height: 6px;
    background-color: #fff;
}

.menu-toggle {
    position: absolute;
    visibility: hidden;
}


.menu-toggle:checked + .mobile__nav {
    display: block;
}

.mobile__nav {
    display:none;
    box-sizing: border-box;
    padding: 20px 40px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 45%;
    margin: 10px;
    background: rgb(145, 130, 63);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.mobile__nav__list {
    display: flex;
    flex-direction: column;
}

.mobile__nav__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color:  rgb(0, 0, 0);
}
 
.mobile__nav__item{
    list-style: none;
}
